.container {
    display: flex;
    max-width: 100%;
    min-height: 3rem;
    background-color:#002b61;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    overflow:none;
}
#nav-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-bar {
    display:flex;
    flex-grow: 0.1;
    max-width: 100%;
    justify-content: space-around;
    border-radius: 50px;
}